# Import data and libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load dataset
caminho_arquivo = '../data/Metro_Interstate_Traffic_Volume.csv'
df = pd.read_csv(caminho_arquivo)

# Basic informations about the dataset

## Head (First Five Rows)

In [2]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

## Tail (Last Five Rows)

In [3]:
df.tail()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48199,NaN,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00,3543
48200,NaN,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00,2781
48201,NaN,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159
48202,NaN,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00,1450
48203,NaN,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00,954

Please note that observations are made on an hourly basis, capturing real-time details such as temperature, precipitation, and weather conditions, with the primary metric being traffic volume.

## Shape (number of rows and columns)

In [4]:
print("\nDataset dimensions (rows, columns):")
df.shape

Dataset dimensions (rows, columns):

(48204, 9)

## Technical Informations

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              61 non-null     object
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  object
 6   weather_description  48204 non-null  object
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB

Note that the 'holiday' column only contains 61 non-null values because only a minority of days are holidays.

## Holiday Column Analysis

In [ ]:
# Display unique values in the holiday column
print("Unique values in holiday column:")
print(df['holiday'].unique())

# Count the frequency of each holiday
print("\nFrequency of each holiday:")
print(df['holiday'].value_counts())

# Visualizing the rows that contains holiday values for undestading why the frequency of each holiday is diferent
print("\nRows with holiday values:")
# for with to show the rows of each holiday
for holiday in df['holiday'].dropna().unique():
    print(f"\nHoliday: {holiday}")
    print(df[df['holiday'] == holiday])



""" 
# Calculate the percentage of null values
null_percentage = (df['holiday'].isnull().sum() / len(df)) * 100
print(f"\nPercentage of null values: {null_percentage:.2f}%")

# Group by holiday and calculate mean traffic volume
print("\nMean traffic volume by holiday:")
print(df.groupby('holiday')['traffic_volume'].mean().sort_values(ascending=False))

"""
df[df['holiday'].notnull()]

Unique values in holiday column:
[nan 'Columbus Day' 'Veterans Day' 'Thanksgiving Day' 'Christmas Day'
 'New Years Day' 'Washingtons Birthday' 'Memorial Day' 'Independence Day'
 'State Fair' 'Labor Day' 'Martin Luther King Jr Day']

Frequency of each holiday:
holiday
Labor Day                    7
Christmas Day                6
Thanksgiving Day             6
Martin Luther King Jr Day    6
New Years Day                6
Veterans Day                 5
Columbus Day                 5
Memorial Day                 5
Washingtons Birthday         5
State Fair                   5
Independence Day             5
Name: count, dtype: int64

Rows with holiday values:

Holiday: Columbus Day
            holiday     temp  rain_1h  snow_1h  clouds_all weather_main  \
126    Columbus Day  273.080      0.0      0.0          20       Clouds
9455   Columbus Day  277.720      0.0      0.0           0        Clear
18946  Columbus Day  293.020      0.0      0.0           1        Clear
27224  Columbus Day  282.341      0.0      0.0           0        Clear
37882  Columbus Day  284.620      0.0      0.0           1        Clear

      weather_description            date_time  traffic_volume
126            few clouds  2012-10-08 00:00:00             455
9455         Sky is Clear  2013-10-14 00:00:00             615
18946        sky is clear  2015-10-12 00:00:00             494
27224        Sky is Clear  2016-10-10 00:00:00             484
37882        sky is clear  2017-10-09 00:00:00             549

Holiday: Veterans Day
            holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
1123   Veterans Day  288.12      0.0      0.0          87        Clear
9768   Veterans Day  275.44      0.0      0.0          64       Clouds
19410  Veterans Day  283.35      0.0      0.0          75       Clouds
27983  Veterans Day  281.96      0.0      0.0           1        Clear
38803  Veterans Day  261.68      0.0      0.0           1        Clear

      weather_description            date_time  traffic_volume
1123         sky is clear  2012-11-12 00:00:00            1000
9768        broken clouds  2013-11-11 00:00:00             514
19410       broken clouds  2015-11-11 00:00:00             559
27983        sky is clear  2016-11-11 00:00:00             572
38803        sky is clear  2017-11-10 00:00:00             812

Holiday: Thanksgiving Day
                holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
1370   Thanksgiving Day  278.54      0.0      0.0          20         Mist
10181  Thanksgiving Day  268.24      0.0      0.0          64       Clouds
19675  Thanksgiving Day  277.22      0.0      0.0          90         Mist
19676  Thanksgiving Day  277.22      0.0      0.0          90         Haze
28399  Thanksgiving Day  274.34      0.0      0.0          75         Mist
39180  Thanksgiving Day  271.94      0.0      0.0           1        Clear

      weather_description            date_time  traffic_volume
1370                 mist  2012-11-22 00:00:00             919
10181       broken clouds  2013-11-28 00:00:00             929
19675                mist  2015-11-26 00:00:00             833
19676                haze  2015-11-26 00:00:00             833
28399                mist  2016-11-24 00:00:00             763
39180        sky is clear  2017-11-23 00:00:00            1324

Holiday: Christmas Day
             holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
2360   Christmas Day  264.40     0.00      0.0          90       Clouds
10939  Christmas Day  260.17     0.25      0.0          64         Rain
20185  Christmas Day  269.09     0.00      0.0          90         Snow
29503  Christmas Day  276.08     0.00      0.0          90         Rain
29504  Christmas Day  276.08     0.00      0.0          90         Mist
40057  Christmas Day  257.95     0.00      0.0           1        Clear

      weather_description            date_time  traffic_volume
2360      overcast clouds  2012-12-25 00:00:00             803
10939          light rain  2013-12-25 00:00:00             712
20185          light snow  2015-12-25 00:00:00             894
29503          light rain  2016-12-26 00:00:00             732
29504                mist  2016-12-26 00:00:00             732
40057        sky is clear  2017-12-25 00:00:00            1092

Holiday: New Years Day
             holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
2559   New Years Day  263.49      0.0      0.0          58       Clouds
11132  New Years Day  250.14      0.0      0.0          90       Clouds
20344  New Years Day  265.94      0.0      0.0          90         Haze
20345  New Years Day  265.94      0.0      0.0          90         Snow
29674  New Years Day  270.62      0.0      0.0          90         Snow
40255  New Years Day  249.36      0.0      0.0           1        Clear

      weather_description            date_time  traffic_volume
2559        broken clouds  2013-01-01 00:00:00            1439
11132     overcast clouds  2014-01-01 00:00:00            1395
20344                haze  2016-01-01 00:00:00            1513
20345          light snow  2016-01-01 00:00:00            1513
29674          light snow  2017-01-02 00:00:00             798
40255        sky is clear  2018-01-01 00:00:00            1478

Holiday: Washingtons Birthday
                    holiday     temp  rain_1h  snow_1h  clouds_all  \
3697   Washingtons Birthday  258.960      0.0      0.0          20
12303  Washingtons Birthday  267.440      0.0      0.0          90
21294  Washingtons Birthday  265.350      0.0      0.0          90
31145  Washingtons Birthday  285.059      0.0      0.0          68
41611  Washingtons Birthday  270.730      0.0      0.0          20

      weather_main weather_description            date_time  traffic_volume
3697        Clouds          few clouds  2013-02-18 00:00:00             556
12303       Clouds     overcast clouds  2014-02-17 00:00:00             583
21294         Mist                mist  2016-02-15 00:00:00             785
31145       Clouds       broken clouds  2017-02-20 00:00:00             629
41611       Clouds          few clouds  2018-02-19 00:00:00             623

Holiday: Memorial Day
            holiday     temp  rain_1h  snow_1h  clouds_all weather_main  \
6430   Memorial Day  286.370      0.0      0.0          90       Clouds
14645  Memorial Day  294.310      0.0      0.0          40       Clouds
23781  Memorial Day  288.380      0.0      0.0           1         Mist
34095  Memorial Day  285.870      0.0      0.0          40       Clouds
44441  Memorial Day  299.487      0.0      0.0          24       Clouds

      weather_description            date_time  traffic_volume
6430      overcast clouds  2013-05-27 00:00:00             863
14645    scattered clouds  2014-05-26 00:00:00             967
23781                mist  2016-05-30 00:00:00            1082
34095    scattered clouds  2017-05-29 00:00:00            1538
44441          few clouds  2018-05-28 00:00:00            1088

Holiday: Independence Day
                holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
7414   Independence Day  290.08      0.0      0.0           1        Clear
16204  Independence Day  289.20      0.0      0.0           1        Clear
24654  Independence Day  289.95      0.0      0.0           1        Clear
35057  Independence Day  293.41      0.0      0.0           1        Clear
45547  Independence Day  297.55      0.0      0.0           1         Mist

      weather_description            date_time  traffic_volume
7414         sky is clear  2013-07-04 00:00:00            1060
16204        sky is clear  2015-07-03 00:00:00             959
24654        sky is clear  2016-07-04 00:00:00            1115
35057        sky is clear  2017-07-04 00:00:00            1225
45547                mist  2018-07-04 00:00:00            1021

Holiday: State Fair
          holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
8575   State Fair  297.42      0.0      0.0          12       Clouds
17750  State Fair  287.97      0.0      0.0           1        Clear
26002  State Fair  290.82      0.0      0.0           1        Clear
36551  State Fair  289.69      0.0      0.0          90         Rain
46936  State Fair  289.02      0.0      0.0           1        Clear

      weather_description            date_time  traffic_volume
8575           few clouds  2013-08-22 00:00:00             661
17750        sky is clear  2015-08-27 00:00:00             605
26002        sky is clear  2016-08-25 00:00:00             655
36551          light rain  2017-08-24 00:00:00             657
46936        sky is clear  2018-08-23 00:00:00             596

Holiday: Labor Day
         holiday    temp  rain_1h  snow_1h  clouds_all  weather_main  \
8742   Labor Day  288.78     0.00      0.0           0         Clear
18041  Labor Day  295.02     0.00      0.0          90        Clouds
26319  Labor Day  293.17     1.52      0.0          90          Rain
26320  Labor Day  293.17     1.52      0.0          90  Thunderstorm
36882  Labor Day  295.54     0.00      0.0           1         Clear
47330  Labor Day  292.43     0.25      0.0           1          Rain
47331  Labor Day  292.43     0.25      0.0           1          Mist

          weather_description            date_time  traffic_volume
8742             Sky is Clear  2013-09-02 00:00:00            1041
18041         overcast clouds  2015-09-07 00:00:00             973
26319           moderate rain  2016-09-05 00:00:00            1064
26320  proximity thunderstorm  2016-09-05 00:00:00            1064
36882            sky is clear  2017-09-04 00:00:00            1026
47330              light rain  2018-09-03 00:00:00             962
47331                    mist  2018-09-03 00:00:00             962

Holiday: Martin Luther King Jr Day
                         holiday    temp  rain_1h  snow_1h  clouds_all  \
11611  Martin Luther King Jr Day  271.79      0.0      0.0          64
30080  Martin Luther King Jr Day  266.08      0.0      0.0           1
30081  Martin Luther King Jr Day  266.08      0.0      0.0           1
40655  Martin Luther King Jr Day  262.54      0.0      0.0          90
40656  Martin Luther King Jr Day  262.54      0.0      0.0          90
40657  Martin Luther King Jr Day  262.54      0.0      0.0          90

      weather_main weather_description            date_time  traffic_volume
11611       Clouds       broken clouds  2014-01-20 00:00:00             480
30080         Mist                mist  2017-01-16 00:00:00             698
30081         Haze                haze  2017-01-16 00:00:00             698
40655         Snow          light snow  2018-01-15 00:00:00             600
40656         Mist                mist  2018-01-15 00:00:00             600
40657         Haze                haze  2018-01-15 00:00:00             600

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
126,Columbus Day,273.080,0.00,0.0,20,Clouds,few clouds,2012-10-08 00:00:00,455
1123,Veterans Day,288.120,0.00,0.0,87,Clear,sky is clear,2012-11-12 00:00:00,1000
1370,Thanksgiving Day,278.540,0.00,0.0,20,Mist,mist,2012-11-22 00:00:00,919
2360,Christmas Day,264.400,0.00,0.0,90,Clouds,overcast clouds,2012-12-25 00:00:00,803
2559,New Years Day,263.490,0.00,0.0,58,Clouds,broken clouds,2013-01-01 00:00:00,1439
...,...,...,...,...,...,...,...,...,...
44441,Memorial Day,299.487,0.00,0.0,24,Clouds,few clouds,2018-05-28 00:00:00,1088
45547,Independence Day,297.550,0.00,0.0,1,Mist,mist,2018-07-04 00:00:00,1021
46936,State Fair,289.020,0.00,0.0,1,Clear,sky is clear,2018-08-23 00:00:00,596
47330,Labor Day,292.430,0.25,0.0,1,Rain,light rain,2018-09-03 00:00:00,962
47331,Labor Day,292.430,0.25,0.0,1,Mist,mist,2018-09-03 00:00:00,962

Let's analyze what this tells us:
1. The holiday column contains specific holiday names for days that are holidays
2. Non-holiday days are represented as null values
3. This makes sense because most days in a year are not holidays
4. We can see how different holidays affect traffic volume